
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@1,700&display=swap');

.Home {
    padding: 50px;
    align-content: center;
}

.top {
    display: flex;
    align-items:center;
    width: 100%;
    justify-content:space-between;
    
}

.top h1 {
    color: #B41414;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    display: inline-block;

}

.sound-icon {
    /* float: right; */
    width: 30px;
    display: inline-block;
    float: right;
}

#subway-img {
    width: 600px;
    margin: 50px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
}

.sliderTitle {
    font-weight: 400;
}

.volume-control {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    align-items: center;
    justify-content: center;
}

.Slider {

} 